In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T2-data301/project-group43/main/data/raw/FT1000.csv?token=GHSAT0AAAAAAB5P32QDTWHCCY2GH47YXTCMZA2DTCQ")
df

,Rank,Name,Ranked2021,Ranked2020,Country,Sector,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear
0,1,Swappie,No,No,Finland,Technology,477.43,97611814,507000,218,1,2016
1,2,Kilo Health,No,No,Lithuania,Health,450.05,57318766,344428,177,10,2013
2,3,OCI,No,No,UK,Financial Services,409.59,568322073,4325512,32,4,2012
3,4,OnlyFans,No,No,UK,Technology,393.63,316732986,2652185,800,4,2016
4,5,Enpal,No,No,Germany,Energy,386.88,56109613,486165,365,9,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,peopleForecast,No,No,Germany,Technology,36.59,2086411,818658,45,15,2014
996,997,Digitalpa,No,No,Italy,Management Consulting,36.59,1731340,679440,12,41,2014
997,998,Faktenkontor,No,No,Germany,Advertising,36.59,30967000,12153143,150,100,2003
998,999,CLAREO,Yes,Yes,France,Retail,36.58,18854708,7399729,53,13,2012
999,1000,Laca Trade,Yes,Yes,Italy,Property,36.55,24741510,9717860,5,5,2013

In [ ]:

delimiters = [',', ';', '\t', '|']

for delimiter in delimiters:
    try:
        df = pd.read_csv(pd.compat.StringIO(df.to_csv(index=False)), delimiter=delimiter)
        print(f"Delimiter found: '{delimiter}'")
        break
    except:
        pass

### No delimiters found

In [ ]:
df=df.drop(columns=['Ranked2021','Ranked2020'])
df

,Rank,Name,Country,Sector,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear
0,1,Swappie,Finland,Technology,477.43,97611814,507000,218,1,2016
1,2,Kilo Health,Lithuania,Health,450.05,57318766,344428,177,10,2013
2,3,OCI,UK,Financial Services,409.59,568322073,4325512,32,4,2012
3,4,OnlyFans,UK,Technology,393.63,316732986,2652185,800,4,2016
4,5,Enpal,Germany,Energy,386.88,56109613,486165,365,9,2017
...,...,...,...,...,...,...,...,...,...,...
995,996,peopleForecast,Germany,Technology,36.59,2086411,818658,45,15,2014
996,997,Digitalpa,Italy,Management Consulting,36.59,1731340,679440,12,41,2014
997,998,Faktenkontor,Germany,Advertising,36.59,30967000,12153143,150,100,2003
998,999,CLAREO,France,Retail,36.58,18854708,7399729,53,13,2012
999,1000,Laca Trade,Italy,Property,36.55,24741510,9717860,5,5,2013

### Remove unused columns

In [ ]:
### Skip rows and columns with missing data 
df = df.dropna(axis=0)
df = df.dropna(axis=1)
df

,Rank,Name,Country,Sector,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear
0,1,Swappie,Finland,Technology,477.43,97611814,507000,218,1,2016
1,2,Kilo Health,Lithuania,Health,450.05,57318766,344428,177,10,2013
2,3,OCI,UK,Financial Services,409.59,568322073,4325512,32,4,2012
3,4,OnlyFans,UK,Technology,393.63,316732986,2652185,800,4,2016
4,5,Enpal,Germany,Energy,386.88,56109613,486165,365,9,2017
...,...,...,...,...,...,...,...,...,...,...
995,996,peopleForecast,Germany,Technology,36.59,2086411,818658,45,15,2014
996,997,Digitalpa,Italy,Management Consulting,36.59,1731340,679440,12,41,2014
997,998,Faktenkontor,Germany,Advertising,36.59,30967000,12153143,150,100,2003
998,999,CLAREO,France,Retail,36.58,18854708,7399729,53,13,2012
999,1000,Laca Trade,Italy,Property,36.55,24741510,9717860,5,5,2013

### No missing data

In [ ]:
df['Change % in Employees'] = ((df['Employees2017'] - df['Employees2020']) / df['Employees2017']) * 100

df

,Rank,Name,Country,Sector,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear,Change % in Employees
0,1,Swappie,Finland,Technology,477.43,97611814,507000,218,1,2016,-21700.000000
1,2,Kilo Health,Lithuania,Health,450.05,57318766,344428,177,10,2013,-1670.000000
2,3,OCI,UK,Financial Services,409.59,568322073,4325512,32,4,2012,-700.000000
3,4,OnlyFans,UK,Technology,393.63,316732986,2652185,800,4,2016,-19900.000000
4,5,Enpal,Germany,Energy,386.88,56109613,486165,365,9,2017,-3955.555556
...,...,...,...,...,...,...,...,...,...,...,...
995,996,peopleForecast,Germany,Technology,36.59,2086411,818658,45,15,2014,-200.000000
996,997,Digitalpa,Italy,Management Consulting,36.59,1731340,679440,12,41,2014,70.731707
997,998,Faktenkontor,Germany,Advertising,36.59,30967000,12153143,150,100,2003,-50.000000
998,999,CLAREO,France,Retail,36.58,18854708,7399729,53,13,2012,-307.692308
999,1000,Laca Trade,Italy,Property,36.55,24741510,9717860,5,5,2013,0.000000

In [ ]:
### METHOD CAHIN #1

df = (pd.read_csv("https://raw.githubusercontent.com/ubco-W2022T2-data301/project-group43/main/data/raw/FT1000.csv?token=GHSAT0AAAAAAB5P32QCUNOPHFDLWIWCHGRGZA2FOXA")
      .drop(columns=['Ranked2021', 'Ranked2020'])
      .assign(**{'Change % in Employees': lambda x: ((x['Employees2017'] - x['Employees2020']) / x['Employees2017']) * 100}))
df

,Rank,Name,Country,Sector,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear,Change % in Employees
0,1,Swappie,Finland,Technology,477.43,97611814,507000,218,1,2016,-21700.000000
1,2,Kilo Health,Lithuania,Health,450.05,57318766,344428,177,10,2013,-1670.000000
2,3,OCI,UK,Financial Services,409.59,568322073,4325512,32,4,2012,-700.000000
3,4,OnlyFans,UK,Technology,393.63,316732986,2652185,800,4,2016,-19900.000000
4,5,Enpal,Germany,Energy,386.88,56109613,486165,365,9,2017,-3955.555556
...,...,...,...,...,...,...,...,...,...,...,...
995,996,peopleForecast,Germany,Technology,36.59,2086411,818658,45,15,2014,-200.000000
996,997,Digitalpa,Italy,Management Consulting,36.59,1731340,679440,12,41,2014,70.731707
997,998,Faktenkontor,Germany,Advertising,36.59,30967000,12153143,150,100,2003,-50.000000
998,999,CLAREO,France,Retail,36.58,18854708,7399729,53,13,2012,-307.692308
999,1000,Laca Trade,Italy,Property,36.55,24741510,9717860,5,5,2013,0.000000

### Method chain

In [ ]:
sector_df = df.groupby("Sector").mean()
sector_df

/var/folders/_t/pkr0638j2sbf5qdr28yt6rjm0000gn/T/ipykernel_93238/3654968428.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sector_df = df.groupby("Sector").mean()

,Rank,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear,Change % in Employees
Sector,,,,,,,,
Advertising,491.181818,74.794242,9.761134e+06,2.621346e+06,47.636364,17.121212,2013.303030,-299.538407
Aerospace & Defence,605.666667,62.668333,1.153957e+07,3.874833e+06,36.833333,16.000000,2010.666667,-186.156463
Agricultural Commodities,558.428571,59.501429,2.245109e+07,6.264134e+06,33.285714,16.000000,2012.857143,-174.752668
Architecture,513.000000,60.265000,3.738828e+06,8.986780e+05,33.500000,12.500000,2012.000000,-159.782609
Automobiles,562.307692,65.572692,1.453354e+07,3.677199e+06,37.076923,16.769231,2010.846154,-383.486365
Batteries,93.000000,138.520000,7.406541e+07,5.581858e+06,58.000000,19.000000,2014.000000,-205.263158
Beauty,443.400000,89.174000,5.107593e+06,9.889156e+05,11.800000,5.400000,2013.200000,-160.000000
Chemicals & Pharmaceuticals,517.750000,68.720000,4.545890e+06,1.197377e+06,15.750000,6.250000,2010.750000,-190.208333
Construction,541.123596,66.093258,1.099944e+07,2.476486e+06,34.876404,13.865169,2010.449438,-260.767618
Cyber Security,482.400000,74.656000,2.461367e+07,4.406390e+06,148.400000,53.400000,2012.800000,-253.785714
Ecommerce,493.353846,79.267538,2.997469e+07,6.656552e+06,63.769231,23.753846,2010.353846,-258.818109
Education,472.000000,83.011333,7.089277e+06,1.836024e+06,46.466667,11.000000,2011.333333,-356.883117
Energy,492.595238,84.310238,8.358919e+07,1.065395e+07,109.095238,36.000000,2010.476190,NaN
Fashion,493.200000,90.037000,1.354491e+07,3.449354e+06,53.100000,21.000000,2012.100000,-184.273968
Financial Services,475.000000,92.912143,3.589247e+07,3.931005e+06,82.464286,27.107143,2013.250000,-226.418631
Fintech,274.730769,111.459615,3.214180e+07,5.455762e+06,169.500000,47.000000,2013.500000,-289.789620
Food & Beverage,441.150000,93.661500,2.822042e+07,5.566184e+06,80.400000,22.300000,2010.150000,-214.762812
Games industry,447.250000,98.537500,1.200823e+08,2.809960e+07,339.000000,192.000000,2009.000000,-387.626654
Health,499.069767,86.522558,1.264009e+07,2.430201e+06,110.232558,26.000000,2008.093023,-622.766589
Industrial Goods,601.222222,66.081667,9.687987e+06,2.208196e+06,46.055556,17.722222,2010.805556,-214.933790
Insurance,644.666667,52.426667,1.703540e+07,5.173772e+06,49.666667,31.333333,2012.333333,-43.376068
Interiors,545.000000,69.872500,7.556712e+06,2.239858e+06,38.666667,19.500000,2007.916667,-214.014155
Law,534.000000,58.245000,6.276381e+06,1.611754e+06,45.000000,14.500000,2016.000000,-622.222222
Management Consulting,474.500000,74.510909,1.541553e+07,3.720796e+06,132.318182,31.772727,2012.681818,-1253.179742
Media,485.090909,68.810000,9.131486e+06,1.798096e+06,34.818182,11.090909,2012.090909,-242.454852
Personal & Household Goods,347.700000,98.099000,2.771231e+07,6.868616e+06,48.100000,14.700000,2011.900000,-291.623474
Pharmaceuticals,476.200000,85.824000,1.111977e+07,1.329578e+06,18.400000,5.600000,2011.400000,-240.555556
Precious metals,772.000000,46.385000,2.866302e+07,8.630283e+06,20.000000,16.500000,1993.000000,-104.838710
Property,463.884615,89.887308,2.607857e+07,4.966304e+06,27.384615,9.384615,2011.653846,-201.852405
Restaurants,718.500000,50.605000,3.262830e+06,8.794520e+05,45.000000,17.000000,2016.000000,-164.930556
Retail,534.023256,72.616744,1.310061e+07,3.295403e+06,33.220930,10.895349,2012.186047,-313.655676
Sales & Marketing,428.600000,71.900000,2.927431e+06,6.450103e+05,24.900000,7.500000,2013.000000,NaN
Sales and Marketing,824.000000,42.650000,4.252509e+07,1.464957e+07,44.000000,21.000000,2008.000000,-109.523810
Support Services,518.678571,82.290536,8.667813e+06,1.934492e+06,91.107143,30.446429,2012.178571,-382.456722
Technology,477.976077,83.933636,1.919595e+07,3.576332e+06,119.545455,37.813397,2011.339713,NaN
Telecoms,584.300000,59.161500,1.992593e+07,5.662310e+06,132.400000,59.650000,2011.750000,-183.614759
Transport,564.821429,70.847857,1.578191e+07,4.878338e+06,112.107143,37.035714,2011.464286,-1958.869810
Travel & Leisure,522.000000,65.230000,3.440419e+07,9.353581e+06,167.428571,46.714286,2008.571429,-308.472222
Waste management & recycling,448.916667,91.444167,1.008245e+07,1.847226e+06,34.916667,11.500000,2010.250000,-231.860269

In [ ]:
sector_df = sector_df.sort_values(by='Revenue2020', ascending=False)
sector_df = sector_df.round(2)
sector_df = sector_df.drop(columns=['Rank'])
sector_df

,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear,Change % in Employees
Sector,,,,,,,
Games industry,98.54,1.200823e+08,28099603.25,339.00,192.00,2009.00,-387.63
Energy,84.31,8.358919e+07,10653945.17,109.10,36.00,2010.48,NaN
Batteries,138.52,7.406541e+07,5581858.00,58.00,19.00,2014.00,-205.26
Sales and Marketing,42.65,4.252509e+07,14649568.00,44.00,21.00,2008.00,-109.52
Financial Services,92.91,3.589247e+07,3931004.71,82.46,27.11,2013.25,-226.42
Travel & Leisure,65.23,3.440419e+07,9353581.43,167.43,46.71,2008.57,-308.47
Fintech,111.46,3.214180e+07,5455762.50,169.50,47.00,2013.50,-289.79
Ecommerce,79.27,2.997469e+07,6656552.00,63.77,23.75,2010.35,-258.82
Precious metals,46.38,2.866302e+07,8630283.00,20.00,16.50,1993.00,-104.84
Food & Beverage,93.66,2.822042e+07,5566184.45,80.40,22.30,2010.15,-214.76
Personal & Household Goods,98.10,2.771231e+07,6868616.40,48.10,14.70,2011.90,-291.62
Property,89.89,2.607857e+07,4966304.12,27.38,9.38,2011.65,-201.85
Cyber Security,74.66,2.461367e+07,4406389.50,148.40,53.40,2012.80,-253.79
Agricultural Commodities,59.50,2.245109e+07,6264134.29,33.29,16.00,2012.86,-174.75
Telecoms,59.16,1.992593e+07,5662309.50,132.40,59.65,2011.75,-183.61
Technology,83.93,1.919595e+07,3576332.11,119.55,37.81,2011.34,NaN
Insurance,52.43,1.703540e+07,5173771.67,49.67,31.33,2012.33,-43.38
Transport,70.85,1.578191e+07,4878337.75,112.11,37.04,2011.46,-1958.87
Management Consulting,74.51,1.541553e+07,3720796.27,132.32,31.77,2012.68,-1253.18
Automobiles,65.57,1.453354e+07,3677199.12,37.08,16.77,2010.85,-383.49
Fashion,90.04,1.354491e+07,3449353.70,53.10,21.00,2012.10,-184.27
Retail,72.62,1.310061e+07,3295403.49,33.22,10.90,2012.19,-313.66
Health,86.52,1.264009e+07,2430201.40,110.23,26.00,2008.09,-622.77
Aerospace & Defence,62.67,1.153957e+07,3874832.83,36.83,16.00,2010.67,-186.16
Pharmaceuticals,85.82,1.111977e+07,1329578.20,18.40,5.60,2011.40,-240.56
Construction,66.09,1.099944e+07,2476486.00,34.88,13.87,2010.45,-260.77
Waste management & recycling,91.44,1.008245e+07,1847225.83,34.92,11.50,2010.25,-231.86
Advertising,74.79,9.761134e+06,2621346.27,47.64,17.12,2013.30,-299.54
Industrial Goods,66.08,9.687987e+06,2208196.33,46.06,17.72,2010.81,-214.93
Media,68.81,9.131486e+06,1798096.27,34.82,11.09,2012.09,-242.45
Support Services,82.29,8.667813e+06,1934491.82,91.11,30.45,2012.18,-382.46
Interiors,69.87,7.556712e+06,2239857.67,38.67,19.50,2007.92,-214.01
Education,83.01,7.089277e+06,1836023.53,46.47,11.00,2011.33,-356.88
Law,58.24,6.276381e+06,1611754.00,45.00,14.50,2016.00,-622.22
Beauty,89.17,5.107593e+06,988915.60,11.80,5.40,2013.20,-160.00
Chemicals & Pharmaceuticals,68.72,4.545890e+06,1197376.88,15.75,6.25,2010.75,-190.21
Architecture,60.26,3.738828e+06,898678.00,33.50,12.50,2012.00,-159.78
Restaurants,50.60,3.262830e+06,879452.00,45.00,17.00,2016.00,-164.93
Sales & Marketing,71.90,2.927431e+06,645010.30,24.90,7.50,2013.00,NaN

In [ ]:
### METHOD CHAIN #2

sector_df = (df.groupby("Sector").mean()
             .sort_values(by='Revenue2020', ascending=False)
             .round(2)
             .drop(columns=['Rank']))
sector_df

/var/folders/_t/pkr0638j2sbf5qdr28yt6rjm0000gn/T/ipykernel_93238/4056948690.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sector_df = (df.groupby("Sector").mean()

,CAGR,Revenue2020,Revenue2017,Employees2020,Employees2017,FoundingYear,Change % in Employees
Sector,,,,,,,
Games industry,98.54,1.200823e+08,28099603.25,339.00,192.00,2009.00,-387.63
Energy,84.31,8.358919e+07,10653945.17,109.10,36.00,2010.48,NaN
Batteries,138.52,7.406541e+07,5581858.00,58.00,19.00,2014.00,-205.26
Sales and Marketing,42.65,4.252509e+07,14649568.00,44.00,21.00,2008.00,-109.52
Financial Services,92.91,3.589247e+07,3931004.71,82.46,27.11,2013.25,-226.42
Travel & Leisure,65.23,3.440419e+07,9353581.43,167.43,46.71,2008.57,-308.47
Fintech,111.46,3.214180e+07,5455762.50,169.50,47.00,2013.50,-289.79
Ecommerce,79.27,2.997469e+07,6656552.00,63.77,23.75,2010.35,-258.82
Precious metals,46.38,2.866302e+07,8630283.00,20.00,16.50,1993.00,-104.84
Food & Beverage,93.66,2.822042e+07,5566184.45,80.40,22.30,2010.15,-214.76
Personal & Household Goods,98.10,2.771231e+07,6868616.40,48.10,14.70,2011.90,-291.62
Property,89.89,2.607857e+07,4966304.12,27.38,9.38,2011.65,-201.85
Cyber Security,74.66,2.461367e+07,4406389.50,148.40,53.40,2012.80,-253.79
Agricultural Commodities,59.50,2.245109e+07,6264134.29,33.29,16.00,2012.86,-174.75
Telecoms,59.16,1.992593e+07,5662309.50,132.40,59.65,2011.75,-183.61
Technology,83.93,1.919595e+07,3576332.11,119.55,37.81,2011.34,NaN
Insurance,52.43,1.703540e+07,5173771.67,49.67,31.33,2012.33,-43.38
Transport,70.85,1.578191e+07,4878337.75,112.11,37.04,2011.46,-1958.87
Management Consulting,74.51,1.541553e+07,3720796.27,132.32,31.77,2012.68,-1253.18
Automobiles,65.57,1.453354e+07,3677199.12,37.08,16.77,2010.85,-383.49
Fashion,90.04,1.354491e+07,3449353.70,53.10,21.00,2012.10,-184.27
Retail,72.62,1.310061e+07,3295403.49,33.22,10.90,2012.19,-313.66
Health,86.52,1.264009e+07,2430201.40,110.23,26.00,2008.09,-622.77
Aerospace & Defence,62.67,1.153957e+07,3874832.83,36.83,16.00,2010.67,-186.16
Pharmaceuticals,85.82,1.111977e+07,1329578.20,18.40,5.60,2011.40,-240.56
Construction,66.09,1.099944e+07,2476486.00,34.88,13.87,2010.45,-260.77
Waste management & recycling,91.44,1.008245e+07,1847225.83,34.92,11.50,2010.25,-231.86
Advertising,74.79,9.761134e+06,2621346.27,47.64,17.12,2013.30,-299.54
Industrial Goods,66.08,9.687987e+06,2208196.33,46.06,17.72,2010.81,-214.93
Media,68.81,9.131486e+06,1798096.27,34.82,11.09,2012.09,-242.45
Support Services,82.29,8.667813e+06,1934491.82,91.11,30.45,2012.18,-382.46
Interiors,69.87,7.556712e+06,2239857.67,38.67,19.50,2007.92,-214.01
Education,83.01,7.089277e+06,1836023.53,46.47,11.00,2011.33,-356.88
Law,58.24,6.276381e+06,1611754.00,45.00,14.50,2016.00,-622.22
Beauty,89.17,5.107593e+06,988915.60,11.80,5.40,2013.20,-160.00
Chemicals & Pharmaceuticals,68.72,4.545890e+06,1197376.88,15.75,6.25,2010.75,-190.21
Architecture,60.26,3.738828e+06,898678.00,33.50,12.50,2012.00,-159.78
Restaurants,50.60,3.262830e+06,879452.00,45.00,17.00,2016.00,-164.93
Sales & Marketing,71.90,2.927431e+06,645010.30,24.90,7.50,2013.00,NaN

In [ ]:
### WRAP IN A FILE 

def load_and_process(url):
    df = (pd.read_csv(url)
          .drop(columns=['Ranked2021', 'Ranked2020'])
          .assign(**{'Change % in Employees': lambda x: ((x['Employees2017'] - x['Employees2020']) / x['Employees2017']) * 100}))

    sector_df = (df.groupby("Sector").mean()
                 .sort_values(by='Revenue2020', ascending=False)
                 .round(2)
                 .drop(columns=['Rank']))

    return sector_df